.article-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
    padding: 20px;
}

.right-grid-article {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.article-image img {
    width: 500px;
    margin-top: 20px;
}

.article-name {
    font-size: 32px;
}

.article-price {
    font-size: 26px;
    font-weight: bold;
}

#qty {
    margin-left: 10px;
    font-size: 20px;
}

#qty-input {
    margin-left: 10px;
    margin-right: 30px;
    font-size: 18px;
}

/* for mobile responsiveness ___________________________________________________ */
@media screen and (max-width: 1000px) {
    .article-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        overflow-x: hidden;
        font-size: 14px;
        margin-top: 20px;
    }

    .article-image img {
        width: 350px;
    }
}
